/** Default Color Palette **/

:root,
::before,
::after {
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --blue-light: 68, 92, 192;
    --blue-primary: 29, 58, 178;
    --blue-dark: 15, 38, 133;
    --blue-darker: 8, 24, 91;
    --red-lighter: 252, 234, 230;
    --red-light: 255, 93, 68;
    --red-primary: 255, 45, 12;
    --red-dark: 195, 27, 0;
    --yellow-light: 255, 197, 62;
    --yellow-primary: 255, 182, 12;
    --yellow-dark: 210, 147, 0;
    --green-light: 54, 204, 99;
    --green-primary: 9, 192, 64;
    --green-dark: 0, 144, 44;
    --slate-0: 241, 245, 249;
    --gray-0: 249, 249, 250;
    --gray-1: 236, 238, 238;
    --gray-2: 223, 225, 226;
    --gray-3: 208, 211, 213;
    --gray-4: 192, 197, 199;
    --gray-5: 174, 180, 183;
    --gray-6: 153, 161, 164;
    --gray-7: 129, 139, 143;
    --gray-8: 98, 110, 115;
    --gray-9: 54, 65, 70;
}
