/** Default Color Palette **/

:root,
::before,
::after {
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --blue-light: 49, 118, 148;
    --blue-primary: 22, 103, 138;
    --blue-dark: 6, 68, 92;
    --blue-darker: 2, 48, 66;
    --red-light: 233, 87, 72;
    --red-primary: 217, 46, 28;
    --red-dark: 173, 28, 13;
    --yellow-light: 233, 192, 72;
    --yellow-primary: 217, 169, 28;
    --yellow-dark: 173, 132, 13;
    --green-light: 54, 176, 81;
    --green-primary: 21, 164, 53;
    --green-dark: 10, 131, 37;
    --gray-0: 249, 249, 250;
    --gray-1: 236, 238, 238;
    --gray-2: 223, 225, 226;
    --gray-3: 208, 211, 213;
    --gray-4: 192, 197, 199;
    --gray-5: 174, 180, 183;
    --gray-6: 153, 161, 164;
    --gray-7: 129, 139, 143;
    --gray-8: 98, 110, 115;
    --gray-9: 54, 65, 70;
}
