/** Default Color Palette **/

:root,
::before,
::after {
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --blue-light: 108, 123, 218;
    --blue-primary: 75, 93, 203;
    --blue-dark: 45, 65, 189;
    --blue-darker: 20, 39, 158;
    --red-light: 255, 32, 32;
    --red-primary: 215, 1, 1;
    --red-dark: 175, 0, 9;
    --yellow-light: 255, 192, 32;
    --yellow-primary: 215, 154, 1;
    --yellow-dark: 175, 126, 0;
    --green-light: 27, 213, 27;
    --green-primary: 0, 193, 0;
    --green-dark: 0, 153, 0;
    --gray-0: 249, 249, 250;
    --gray-1: 236, 238, 238;
    --gray-2: 223, 225, 226;
    --gray-3: 208, 211, 213;
    --gray-4: 192, 197, 199;
    --gray-5: 174, 180, 183;
    --gray-6: 153, 161, 164;
    --gray-7: 129, 139, 143;
    --gray-8: 98, 110, 115;
    --gray-9: 54, 65, 70;
}
