@tailwind base;
@tailwind components;
@tailwind utilities;

/** Modal **/

.tw-modal .tw-modal-header {
    @apply tw-rounded-t;
}

.tw-modal .tw-modal-description {
    @apply tw-bg-white tw-rounded-b;
}

.tw-modal .tw-modal-header h1,
.tw-modal .tw-modal-header h2,
.tw-modal .tw-modal-header h3,
.tw-modal .tw-modal-header h4,
.tw-modal .tw-modal-header h5,
.tw-modal .tw-modal-header h6 {
    @apply tw-text-white tw-m-0;
}

.tw-modal .tw-modal-header {
    @apply tw-pr-14 tw-pl-6 tw-py-6;
}

.tw-modal .tw-modal-description {
    @apply tw-p-6;
}

.tw-modal .tw-modal-header.tw-modal-header-primary {
    @apply tw-bg-blue-600;
}

.tw-modal .tw-modal-header.tw-modal-header-danger {
    @apply tw-bg-red-600;
}

.tw-modal .tw-modal-close {
    @apply tw-absolute tw-right-6 tw-top-5 tw-pt-0.5 tw-text-white tw-opacity-60 hover:tw-opacity-100 tw-transition-colors tw-duration-300 tw-text-2xl tw-font-bold tw-outline-none;
}

.tw-modal .tw-modal-toolbar {
    @apply tw-flex tw-items-center tw-justify-end tw-space-x-2;
}

/** Alerts **/

.tw-alert {
    @apply tw-px-7 tw-py-3 tw-leading-none tw-rounded tw-border tw-leading-6;
}

.tw-alert > *:last-child {
    @apply tw-mb-0;
}

.tw-alert p {
    @apply tw-leading-5;
}

.tw-alert.tw-alert-danger {
    @apply tw-text-red-800 tw-bg-red-100 tw-border-red-200;
}

.tw-alert.tw-alert-success {
    @apply tw-text-green-800 tw-bg-green-100 tw-border-green-200;
}

.tw-alert.tw-alert-warning {
    @apply tw-text-yellow-800 tw-bg-yellow-100 tw-border-yellow-200;
}

.tw-alert.tw-alert-info {
    @apply tw-text-cyan-800 tw-bg-cyan-100 tw-border-cyan-200;
}

/** Dropdown **/

.tw-dropdown-menu {
    @apply tw-border tw-min-w-[160px] tw-border-blue-grey-200 tw-mt-2 tw-text-blue-grey-500 tw-rounded tw-z-50 tw-text-left tw-list-none tw-text-base tw-bg-white tw-shadow-sm tw-select-none tw-py-2;
}

.tw-dropdown-menu hr {
    @apply tw-w-full tw-border-blue-grey-200 tw-my-2;
}

.tw-dropdown-menu .tw-dropdown-header,
.tw-dropdown-menu .tw-dropdown-item {
    @apply tw-flex tw-w-full tw-py-2.5 tw-px-4;
}

.tw-dropdown-menu .tw-dropdown-header {
    @apply tw-text-blue-grey-700 tw-text-base tw-font-bold;
}

.tw-dropdown-menu .tw-dropdown-item {
    @apply tw-font-normal tw-transition-colors tw-duration-300 tw-text-blue-grey-500 tw-whitespace-nowrap hover:tw-bg-blue-grey-100;
}

/** Tooltips **/

.tw-popper-wrapper .tw-tooltip {
    @apply tw-pointer-events-none tw-max-w-[200px] tw-select-none tw-p-2 tw-w-max tw-rounded tw-leading-4 tw-shadow-sm tw-bg-blue-grey-700 tw-block tw-text-center tw-text-sm tw-text-white;
}

/** Arrow **/

.tw-arrow::before {
    content: "";
    @apply tw-absolute tw-w-[8px] tw-h-[4px] tw-border-transparent tw-border-solid;
}

.tw-popper-wrapper[data-popper-placement="bottom"] .tw-arrow::before {
    border-width: 0 4px 4px;
    @apply tw--top-[4px] tw--ml-[2px];
    right: calc(50% - 4px);
}

.tw-popper-wrapper[data-popper-placement="top"] .tw-arrow::before {
    border-width: 0 4px 4px;
    transform: rotate(180deg);
    @apply tw--bottom-[4px] tw--ml-[2px];
    right: calc(50% - 4px);
}

.tw-popper-wrapper[data-popper-placement="top-end"] .tw-arrow::before {
    border-width: 0 4px 4px;
    transform: rotate(180deg);
    @apply tw--bottom-[4px] tw--ml-[2px];
    left: calc(100% - 12px);
}

.tw-popper-wrapper[data-popper-placement="right"] .tw-arrow::before {
    border-width: 0 4px 4px;
    transform: rotate(270deg);
    @apply tw--left-[6px];
    top: calc(50% - 2px);
}

.tw-popper-wrapper[data-popper-placement="left"] .tw-arrow::before {
    border-width: 0 4px 4px;
    transform: rotate(90deg);
    @apply tw--right-[6px];
    top: calc(50% - 2px);
}
