@import "../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/solid.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    *:active,
    *:hover,
    *:focus,
    *:focus-visible {
        outline: none !important;
    }

    *, ::before, ::after {
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
        @apply tw-border-blue-light/20;
    }

    a {
        @apply tw-text-blue-light hover:tw-text-blue-dark tw-transition-colors;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        @apply tw-font-sans tw-text-blue-primary tw-font-medium tw-leading-5;
    }

    body {
        @apply tw-bg-blue-primary/5 tw-text-left tw-text-gray-700 tw-font-sans tw-font-normal;
    }
}

/** Buttons **/

.tw-btn {
    @apply tw-text-base tw-py-2 tw-px-4 tw-rounded tw-whitespace-nowrap tw-inline-block tw-items-center tw-justify-center tw-transition-all tw-duration-200 tw-ease-linear tw-font-medium tw-text-center tw-select-none;
}

.tw-btn.tw-btn-outline.tw-btn-outline-default {
    @apply tw-border tw-border-gray-100 hover:tw-bg-gray-200;
}

.tw-btn.tw-btn-primary {
    @apply tw-bg-blue-primary/10 tw-border tw-border-blue-light/20 hover:tw-bg-blue-light tw-text-blue-light hover:tw-text-white hover:tw-shadow-md hover:tw-shadow-blue-primary/40;
}

.tw-btn.tw-btn-primary.active {
    @apply tw-bg-blue-light tw-text-white;
}

.tw-btn.tw-btn-danger {
    @apply tw-bg-red-primary/10 tw-border tw-border-red-light/20 hover:tw-bg-red-light tw-text-red-light hover:tw-text-white hover:tw-shadow-md hover:tw-shadow-red-primary/40;
}

.tw-btn.tw-btn-danger.active {
    @apply tw-bg-red-light tw-text-white;
}

.tw-btn.tw-btn-success {
    @apply tw-bg-green-primary/10 tw-border tw-border-green-light/20 hover:tw-bg-green-light tw-text-green-light hover:tw-text-white hover:tw-shadow-md hover:tw-shadow-green-primary/40;
}

.tw-btn.tw-btn-success.active {
    @apply tw-bg-green-light tw-text-white;
}

.tw-btn.tw-btn-dark {
    @apply tw-bg-gray-900 tw-border hover:tw-bg-gray-700 tw-text-white;
}

.tw-btn.tw-btn-warning {
    @apply tw-bg-yellow-primary/10 tw-border tw-border-yellow-light/20 hover:tw-bg-yellow-light tw-text-yellow-light hover:tw-text-white hover:tw-shadow-md hover:tw-shadow-yellow-primary/40;
}

.tw-btn.tw-btn-lg {
    @apply tw-py-5 tw-px-7 tw-text-lg;
}

.tw-btn.tw-btn-sm {
    @apply tw-py-2 tw-px-3.5;
}

.tw-btn.tw-btn-xs {
    @apply tw-py-1 tw-px-2 tw-text-sm tw-leading-none;
}

.tw-btn.tw-btn-flat {
    @apply tw-bg-transparent tw-border-transparent;
}

.tw-btn.tw-btn-light {
    @apply tw-border tw-bg-gray-0 hover:tw-bg-gray-100 tw-text-gray-700 hover:tw-shadow-md hover:tw-shadow-gray-100/40;
}

.tw-btn.tw-btn-light.active {
    @apply tw-border tw-bg-gray-200;
}

.tw-btn.tw-btn-default {
    @apply tw-border tw-bg-gray-100/60 hover:tw-bg-gray-0 tw-text-gray-700 hover:tw-shadow-md hover:tw-shadow-gray-100/40;
}

.tw-btn.tw-btn-secondary {
    @apply tw-bg-gray-600 tw-border-gray-600 tw-text-white hover:tw-bg-gray-500 hover:tw-border-gray-500;
}

.tw-btn.tw-btn-outline-secondary {
    @apply tw-border tw-border-solid tw-border-gray-600 hover:tw-bg-gray-500 hover:tw-border-gray-500 hover:tw-text-white;
}

.tw-btn.disabled,
.tw-btn:disabled {
    @apply tw-opacity-40 tw-shadow-none tw-pointer-events-none;
}

/** Badges **/

.tw-badge {
    @apply tw-inline-block tw-text-white tw-leading-none tw-whitespace-nowrap tw-rounded tw-text-center tw-text-base tw-py-1 tw-px-2;
}

.tw-badge.tw-badge-sm {
    @apply tw-py-0.5 tw-px-1.5 tw-text-xs;
}

.tw-badge.tw-badge-success {
    @apply tw-bg-green-primary;
}

.tw-badge.tw-badge-secondary {
    @apply tw-bg-gray-600;
}

.tw-badge.tw-badge-outline {
    @apply tw-border tw-bg-transparent;
}

.tw-badge-pill {
    @apply tw-px-1.5 tw-py-1 tw-rounded-3xl tw-inline-flex tw-items-center tw-justify-center tw-leading-none;
}

.tw-badge-pill i {
    @apply tw-text-xs;
}

/** Modal **/

.p-dialog {
    @apply tw-shadow-2xl tw-border-none tw-w-full;
}

.p-dialog .p-dialog-header {
    @apply tw-bg-blue-primary tw-p-6 tw-rounded-t tw-justify-between;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:focus {
    @apply tw-shadow-none;
}

.p-dialog .p-dialog-content {
    @apply tw-p-6 tw-text-gray-900;
}

.p-dialog .p-dialog-header .p-dialog-title {
    @apply tw-text-white tw-font-medium;
}

.p-dialog .p-dialog-footer {
    @apply tw-rounded-b tw-px-6 tw-py-4;
}

.p-dialog .p-dialog-footer button:last-child {
    @apply tw-mr-0;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
    @apply tw-w-auto tw-h-[30px] tw-mt-[1px]
}

.p-dialog .p-dialog-header .p-dialog-header-icon span {
    @apply tw-text-white tw-opacity-60 hover:tw-opacity-100 tw-transition-colors tw-duration-300 tw-font-bold tw-outline-none;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:focus {
    @apply tw-shadow-none;
}

/** Toasts **/

.p-toast {
    @apply tw-w-[50vw] tw-border-none tw-overflow-hidden !important;
}

.p-toast-message {
    @apply tw-bg-white tw-border-none tw-overflow-hidden !important;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
    @apply tw-hidden;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-detail,
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
    @apply tw-m-0;
}

.p-toast .p-toast-message .p-toast-message-content {
    @apply tw-px-6 tw-py-4;
}

.p-toast-message.p-toast-message-error .p-toast-message-content {
    @apply tw-bg-red-primary/10 tw-border tw-border-red-light/20 tw-text-red-light !important;
}

.p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast-message.p-toast-message-error .p-toast-icon-close {
    @apply tw-text-red-light !important;
}

.p-toast-message.p-toast-message-warn .p-toast-message-content {
    @apply tw-bg-yellow-primary/10 tw-border tw-border-yellow-light/20 tw-text-yellow-light !important;
}

.p-toast-message.p-toast-message-warn .p-toast-message-icon,
.p-toast-message.p-toast-message-warn .p-toast-icon-close {
    @apply tw-text-yellow-light !important;
}

.p-toast-message.p-toast-message-success .p-toast-message-content {
    @apply tw-bg-green-primary/10 tw-border tw-border-green-light/20 tw-text-green-light !important;
}

.p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast-message.p-toast-message-success .p-toast-icon-close {
    @apply tw-text-green-light !important;
}

/** Dropdown / Menu **/

.p-dropdown-panel {
    @apply tw-border tw-border-gray-200 tw-my-2 tw-text-gray-500 tw-rounded tw-z-50 tw-text-left tw-list-none tw-text-base tw-bg-white tw-shadow-sm tw-select-none tw-py-2;
    @apply tw-min-w-[160px] !important;
}

.p-menu.p-menu-overlay {
    @apply tw-shadow-md tw-my-2 tw-border-blue-light/20;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item > *,
.p-menu:not(.position-button-list):not(.spellcheck-menu) .p-menuitem > * {
    @apply tw-font-normal tw-flex tw-w-full tw-cursor-pointer tw-transition-colors tw-duration-300 tw-text-gray-700 hover:tw-text-blue-light tw-whitespace-nowrap hover:tw-bg-blue-primary/10 tw-py-2 tw-px-6;
}

.p-menu .p-menuitem button {
    @apply tw-w-full tw-text-left;
}

.p-menu.position-button-list .p-menu-list {
    @apply tw-flex tw-flex-row tw-flex-wrap tw-justify-between tw-px-2;
}

..p-menu .p-menu-separator {
    @apply tw-border-t tw-border-blue-light/20 !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item > .disabled,
.p-dropdown-panel .p-dropdown-items .p-dropdown-item > *:disabled,
.p-menu .p-menuitem > .disabled,
.p-menu .p-menuitem > *:disabled {
    @apply tw-opacity-60 tw-shadow-none tw-pointer-events-none tw-cursor-not-allowed hover:tw-bg-transparent;
}

.p-menuitem .p-menuitem-link {
    @apply tw-font-normal tw-flex tw-w-full tw-cursor-pointer tw-py-2.5 tw-px-6 hover:tw-bg-blue-primary/10;
}

.p-menu .p-menuitem-link .p-menuitem-text {
    @apply tw-text-gray-700 tw-whitespace-nowrap tw-transition-colors tw-duration-300 tw-leading-6;
}

.p-menu .p-submenu-header {
    @apply tw-text-blue-light tw-py-2.5 tw-px-6 tw-leading-6 tw-font-medium;
}

.tw-dropdown-toggle {
    @apply tw-transition-colors tw-duration-300 tw-ease-in-out;
}

.tw-dropdown-toggle.tw-btn {
    @apply tw-flex;
}

.tw-dropdown-toggle::after {
    content: "";
    @apply tw-mr-0 tw-ml-2 tw-flex;
    border-top: 0.286rem solid;
    border-right: 0.286rem solid transparent;
    border-bottom: 0;
    border-left: 0.286rem solid transparent;
}

/** Tooltips **/

.p-tooltip .p-tooltip-text {
    @apply tw-shadow-sm tw-bg-blue-light tw-block tw-text-center tw-text-sm tw-text-white tw-shadow-blue-primary/40 tw-shadow-md;
}

.p-tooltip.p-tooltip-top .p-tooltip-arrow {
    @apply tw-border-t-blue-light;
}

.p-tooltip.p-tooltip-right .p-tooltip-arrow {
    @apply tw-border-r-blue-light;
}

.p-tooltip.p-tooltip-left .p-tooltip-arrow {
    @apply tw-border-l-blue-light;
}

.p-tooltip.p-tooltip-bottom .p-tooltip-arrow {
    @apply tw-border-b-blue-light;
}

/** Inline Messages **/

.p-inline-message.p-inline-message-warn {
    @apply tw-bg-yellow-primary/10 tw-border tw-border-yellow-light/40 tw-text-yellow-primary;
}

.p-inline-message.p-inline-message-warn .p-inline-message-icon {
    @apply tw-text-yellow-primary;
}

.p-inline-message.p-inline-message-error {
    @apply tw-bg-red-primary/10 tw-border tw-border-red-light/40 tw-text-red-primary;
}

.p-inline-message.p-inline-message-error .p-inline-message-icon {
    @apply tw-text-red-primary;
}

.p-inline-message.p-inline-message-info {
    @apply tw-bg-blue-primary/10 tw-border tw-border-blue-light/40 tw-text-blue-primary;
}

.p-inline-message.p-inline-message-error .p-inline-message-icon {
    @apply tw-text-blue-primary;
}

/** Forms **/

.tw-form-control {
    @apply tw-block tw-w-full tw-border-gray-100 focus:tw-border-blue-light/80 tw-rounded tw-bg-white tw-py-2 tw-px-4 tw-text-base tw-text-gray-800 tw-border tw-transition-all tw-duration-200;
    height: 38px;
}

.tw-form-control:disabled,
.tw-form-control[readonly],
.tw-form-control[disabled],
.tw-form-control.disabled {
    @apply tw-bg-gray-0 tw-opacity-100;
}

/** Cue Lines **/

.sbte-cue-line {
    @apply tw-rounded-r-lg;
}

.sbte-cue-line-flap {
    @apply tw-rounded-l-lg tw-bg-gray-800 tw-border tw-border-gray-900/80;
}

.sbte-cue-line-flap-error {
    @apply tw-rounded-l-lg tw-border tw-border-red-dark/80 tw-bg-red-primary/90;
}

.sbte-cue-line-flap-good {
    @apply tw-rounded-l-lg tw-border tw-border-green-dark/80 tw-bg-green-primary/90;
}

.sbte-cue-line-flap-checkbox {
    @apply tw-bg-transparent tw-border-0 tw-mr-[10px];
}

.sbte-cue-divider-error {
    @apply tw-border tw-border-red-dark;
}

.sbte-cue-divider-good {
    @apply tw-border tw-border-green-dark;
}

.sbte-cue-divider {
    @apply tw-border tw-border-gray-700;
}

.sbte-cue-comment-user {
    @apply tw-bg-blue-primary/10 tw-border tw-border-blue-light/20 tw-text-blue-primary;
}

.sbte-cues-errors {
    @apply tw-bg-red-primary/10 tw-border-b tw-border-red-dark/10 tw-text-red-light tw-p-[10px];

}

/** Glossary Matches **/

.sbte-glossary-match {
    @apply tw-bg-white tw-cursor-pointer tw-shadow-md tw-shadow-gray-300/60 tw-px-1 tw-rounded tw-border tw-border-gray-200;
}

/** Waveform **/

region.wavesurfer-region:before {
    content: attr(data-region-label);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 95%;
    position: absolute;
    text-align: center;
    margin-left: 10px;
    margin-top: 5px;
}

.wavesurfer-handle-end,
.wavesurfer-handle-start {
    @apply tw-transition-colors tw-bg-gray-400 hover:tw-bg-gray-600 !important;
}

/** VideoJS **/

.video-js .vjs-time-control {
    display: block !important;
}
.video-js .vjs-remaining-time {
    display: none !important;
}

.vjs-text-track-display div {
    font-size: 1.25em;
}

.vjs-texttrack-settings {
    display: none;
}

/** Misc **/

.sbte-text-with-error {
    @apply tw-bg-red-primary tw-bg-opacity-20;
}

.sbte-count-tag {
    @apply tw-text-xs tw-bg-gray-0 tw-border tw-border-gray-100 tw-mr-[2px] tw-rounded-lg tw-py-[2px] tw-px-[6px] tw-whitespace-nowrap;
}
