@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .sbte-transition {
        @apply duration-300 ease-in-out transition-colors;
    }

    .sbte-big-menu {
        width: 260px;
        min-width: 260px;
    }
}

@layer base {
    *,
    *:active,
    *:hover,
    *:focus,
    *:focus-visible {
        outline: none !important;
    }

    *, ::before, ::after {
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
        @apply border-blue-light/20;
    }

    a {
        @apply text-blue-light hover:text-blue-dark sbte-transition;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        @apply font-sans text-blue-primary font-medium leading-5;
    }

    .h1, h1 {
        @apply text-5xl;
    }

    .h2, h2 {
        @apply text-4xl;
    }

    .h3, h3 {
        @apply text-3xl;
    }

    .h4, h4 {
        @apply text-lg;
    }

    .h5, h5 {
        @apply text-base;
    }

    .h6, h6 {
        @apply text-sm;
    }

    .h1, .h2, .h3, h1, h2, h3 {
        margin-top: 22px;
        margin-bottom: 11px;
    }

    .h4, .h5, .h6, h4, h5, h6 {
        margin-top: 11px;
        margin-bottom: 11px;
    }

    body {
        @apply bg-blue-primary/5 text-left text-gray-800 font-sans font-normal;
    }

    html {
        @apply text-sm;
    }

    [hidden] {
        @apply hidden !important;
    }
}

/** Buttons **/

.sbte-btn {
    @apply text-base py-2 px-4 rounded whitespace-nowrap inline-block items-center justify-center transition-all duration-200 ease-linear font-medium text-center select-none;
}

.sbte-btn.sbte-btn-outline.sbte-btn-outline-default {
    @apply border border-gray-100 hover:bg-gray-200;
}

.sbte-btn.sbte-btn-primary {
    @apply bg-blue-primary/10 border border-blue-light/20 hover:bg-blue-light text-blue-light hover:text-white hover:shadow-md hover:shadow-blue-primary/40;
}

.sbte-btn.sbte-btn-primary.active {
    @apply bg-blue-light text-white;
}

.sbte-btn.sbte-btn-danger {
    @apply bg-red-primary/10 border border-red-light/20 hover:bg-red-light text-red-light hover:text-white hover:shadow-md hover:shadow-red-primary/40;
}

.sbte-btn.sbte-btn-danger.active {
    @apply bg-red-light text-white;
}

.sbte-btn.sbte-btn-success {
    @apply bg-green-primary/10 border border-green-light/20 hover:bg-green-light text-green-light hover:text-white hover:shadow-md hover:shadow-green-primary/40;
}

.sbte-btn.sbte-btn-success.active {
    @apply bg-green-light text-white;
}

.sbte-btn.sbte-btn-dark {
    @apply bg-gray-900 border hover:bg-gray-700 text-white;
}

.sbte-btn.sbte-btn-warning {
    @apply bg-yellow-primary/10 border border-yellow-light/20 hover:bg-yellow-light text-yellow-light hover:text-white hover:shadow-md hover:shadow-yellow-primary/40;
}

.sbte-btn.sbte-btn-lg {
    @apply py-5 px-7 text-lg;
}

.sbte-btn.sbte-btn-sm {
    @apply py-2 px-3.5;
}

.sbte-btn.sbte-btn-xs {
    @apply py-1 px-2 text-sm leading-none;
}

.sbte-btn.sbte-btn-flat {
    @apply bg-transparent border-transparent;
}

.sbte-btn.sbte-btn-light {
    @apply border bg-gray-0 hover:bg-gray-100 text-gray-800 hover:shadow-md hover:shadow-gray-100/40;
}

.sbte-btn.sbte-btn-light .fa-duotone {
    @apply text-blue-light;
}

.sbte-btn.sbte-btn-light.active {
    @apply border bg-gray-200;
}

.sbte-btn.sbte-btn-default {
    @apply border bg-gray-100/60 hover:bg-gray-0 text-gray-800 hover:shadow-md hover:shadow-gray-100/40;
}

.sbte-btn.sbte-btn-secondary {
    @apply bg-gray-600 border-gray-600 text-white hover:bg-gray-500 hover:border-gray-500;
}

.sbte-btn.sbte-btn-outline-secondary {
    @apply border border-solid border-gray-600 hover:bg-gray-500 hover:border-gray-500 hover:text-white;
}

.sbte-btn.disabled,
.sbte-btn:disabled {
    @apply opacity-40 shadow-none pointer-events-none;
}

.sbte-btn-pure {
    @apply rounded-full bg-gray-200;
    width: 6px;
    height: 6px;
}

.sbte-btn-pure.sbte-btn-primary  {
    @apply bg-blue-dark hover:bg-blue-primary text-white;
}

.sbte-btn-pure.sbte-btn-danger {
    @apply bg-red-primary hover:bg-red-light text-white;
}

.sbte-btn-pure.sbte-btn-success {
    @apply bg-green-primary hover:bg-green-light text-white;
}

.sbte-btn-pure.sbte-btn-dark {
    @apply bg-gray-700 hover:bg-gray-500 text-white;
}

.sbte-btn-pure.sbte-btn-warning {
    @apply bg-yellow-primary hover:bg-yellow-light text-white;
}

/** Badges **/

.sbte-badge {
    @apply inline-block text-white leading-none whitespace-nowrap rounded text-center text-base py-1 px-2;
}

.sbte-badge.sbte-badge-sm {
    @apply py-0.5 px-1.5 text-xs;
}

.sbte-badge.sbte-badge-success {
    @apply bg-green-primary border border-green-dark/80;
}

.sbte-badge.sbte-badge-secondary {
    @apply bg-gray-600 border border-gray-700/90;
}

.sbte-badge.sbte-badge-outline {
    @apply border bg-transparent;
}

.sbte-badge-pill {
    @apply px-1.5 py-1 rounded-3xl inline-flex items-center justify-center leading-none;
}

.sbte-badge-pill i {
    @apply text-xs;
}

/** Keyboard Shortcut Label **/

.sbte-keyboard-label {
    @apply sbte-badge bg-gray-0 shadow-sm border-gray-200 border font-medium !text-blue-primary !font-medium;
}

/** Modal **/

.p-dialog {
    @apply shadow-2xl border-none w-full;
}

.p-dialog .p-dialog-header {
    @apply bg-blue-primary p-6 rounded-t justify-between;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:focus {
    @apply shadow-none;
}

.p-dialog .p-dialog-content {
    @apply p-6 text-gray-900;
}

.p-dialog .p-dialog-header .p-dialog-title {
    @apply text-white font-medium;
}

.p-dialog .p-dialog-footer {
    @apply rounded-b px-6 py-4;
}

.p-dialog .p-dialog-footer button:last-child {
    @apply mr-0;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
    @apply w-auto mt-px;
    height: 30px;
}

.p-dialog .p-dialog-header .p-dialog-header-icon span {
    @apply text-white opacity-60 hover:opacity-100 sbte-transition font-bold outline-none;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:focus {
    @apply shadow-none;
}

/** Toasts **/

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
    @apply hidden;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-detail,
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
    @apply m-0;
}

.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close,
.p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast-message.p-toast-message-error .p-toast-icon-close {
    @apply text-red-primary;
}

.p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close,
.p-toast-message.p-toast-message-warn .p-toast-message-icon,
.p-toast-message.p-toast-message-warn .p-toast-icon-close {
    @apply text-yellow-primary;
}

.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close,
.p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast-message.p-toast-message-success .p-toast-icon-close {
    @apply text-green-primary;
}

.p-toast-message-exit-active {
    transition: none !important;
    margin-bottom: initial;
    overflow: initial;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
    @apply font-medium;
}

/** Dropdown / Menu **/

.p-dropdown-panel {
    @apply border border-gray-200 my-2 text-gray-500 rounded z-50 text-left list-none text-base bg-white shadow-sm select-none py-2;
    min-width: 160px;
}

.p-menu.p-menu-overlay {
    @apply shadow-md my-2 border-blue-light/20;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item,
.p-dropdown-panel .p-dropdown-items .p-dropdown-item > *,
.p-menu:not(.sbte-position-button-list):not(.spellcheck-menu) .p-menuitem > * {
    @apply font-normal flex w-full cursor-pointer sbte-transition text-gray-800 hover:text-blue-light whitespace-nowrap hover:bg-blue-primary/10 py-2 px-6;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    @apply bg-transparent text-blue-light;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    @apply bg-blue-light/10 text-blue-light;
}

.p-menu .p-menuitem button {
    @apply w-full text-left;
}

.p-menu.sbte-position-button-list .p-menu-list {
    @apply flex flex-row flex-wrap justify-between px-2;
}

.p-menu .p-menu-separator {
    @apply border-t border-blue-light/20;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item > .disabled,
.p-dropdown-panel .p-dropdown-items .p-dropdown-item > *:disabled,
.p-menu .p-menuitem > .disabled,
.p-menu .p-menuitem > *:disabled {
    @apply opacity-60 shadow-none pointer-events-none cursor-not-allowed hover:bg-transparent;
}

.p-menuitem .p-menuitem-link {
    @apply font-normal flex w-full cursor-pointer py-2.5 px-6 hover:bg-blue-primary/10;
}

.p-menu .p-menuitem-link .p-menuitem-text {
    @apply text-gray-800 whitespace-nowrap sbte-transition leading-6;
}

.p-menu .p-submenu-header {
    @apply text-blue-light py-2.5 px-6 leading-6 font-medium;
}

.sbte-dropdown-toggle {
    @apply sbte-transition ease-in-out;
}

.sbte-dropdown-toggle.sbte-btn {
    @apply flex;
}

.sbte-dropdown-toggle::after {
    content: "";
    @apply mr-0 ml-2 flex;
    border-top: 0.286rem solid;
    border-right: 0.286rem solid transparent;
    border-bottom: 0;
    border-left: 0.286rem solid transparent;
}

/** Tooltips **/

.p-tooltip .p-tooltip-text {
    @apply shadow-md bg-blue-light block text-center text-sm text-white shadow-blue-primary/20;
}

.p-tooltip.p-tooltip-top .p-tooltip-arrow {
    @apply border-t-blue-light;
}

.p-tooltip.p-tooltip-right .p-tooltip-arrow {
    @apply border-r-blue-light;
}

.p-tooltip.p-tooltip-left .p-tooltip-arrow {
    @apply border-l-blue-light;
}

.p-tooltip.p-tooltip-bottom .p-tooltip-arrow {
    @apply border-b-blue-light;
}

/* TODO - Fixes tooltip flicker issue introduced
     by Primereact, which should be fix 8.7.3. This
     can be removed at that point */
.p-tooltip {
    position: absolute;
    padding: .25em .5rem;
    top: -9999px;
    left: -9999px;
}

/** Inline Messages **/

.p-inline-message.p-inline-message-warn {
    @apply bg-yellow-primary/10 border border-yellow-light/40 text-yellow-primary;
}

.p-inline-message.p-inline-message-warn .p-inline-message-icon {
    @apply text-yellow-primary;
}

.p-inline-message.p-inline-message-error {
    @apply bg-red-primary/10 border border-red-light/40 text-red-primary;
}

.p-inline-message.p-inline-message-error .p-inline-message-icon {
    @apply text-red-primary;
}

.p-inline-message.p-inline-message-info {
    @apply bg-blue-primary/10 border border-blue-light/40 text-blue-primary;
}

.p-inline-message.p-inline-message-info .p-inline-message-icon {
    @apply text-blue-primary;
}

.p-inline-message.p-inline-message-success {
    @apply bg-green-primary/10 border border-green-light/40 text-green-primary;
}

.p-inline-message.p-inline-message-success .p-inline-message-icon {
    @apply text-green-primary;
}

/** Forms **/

.sbte-form-control {
    @apply block w-full border-blue-light/20 focus:border-blue-light/80 rounded bg-white py-2 px-4 text-base text-gray-800 border transition-all duration-200;
    height: 38px;
}

.sbte-form-control:disabled,
.sbte-form-control[readonly],
.sbte-form-control[disabled],
.sbte-form-control.disabled {
    @apply bg-slate-0 opacity-100;
}

textarea.sbte-form-control {
    @apply h-auto;
    min-height: 100px;
}

label.sbte-form-control {
    @apply mb-0;
}

/** Cue Lines **/

.sbte-cue-line {
    @apply rounded-r-lg;
}

.sbte-cue-line-flap {
    @apply rounded-l-lg bg-blue-primary/90 border border-blue-dark/80;
}

.sbte-cue-line-flap-error {
    @apply rounded-l-lg border border-red-dark/80 bg-red-primary/90;
}

.sbte-cue-line-flap-good {
    @apply rounded-l-lg border border-green-dark/80 bg-green-primary/90;
}

.sbte-cue-line-flap-checkbox {
    @apply bg-transparent border-0 mr-2.5;
}

.sbte-cue-divider-error {
    @apply border-none bg-red-dark/80 h-px -mt-px;
}

.sbte-cue-divider-good {
    @apply border-none bg-green-dark/80 h-px -mt-px;
}

.sbte-cue-divider {
    @apply border border-gray-700;
}

.sbte-cue-comment-user {
    @apply bg-blue-primary/10 border border-blue-light/20 text-blue-primary;
}

.sbte-cues-errors {
    @apply bg-red-primary/10 border-b border-red-dark/10 text-red-light p-2.5;
}

/** Time Editors **/

.sbte-time-editors {
    @apply space-y-1;
    width: 120px;
}

/** Position Buttons **/

.sbte-position-button-option {
    @apply inline-flex items-center justify-center p-2 text-gray-800 rounded cursor-pointer hover:bg-blue-light/10 hover:text-blue-light;
    width: 38px;
}

.sbte-position-toggle-button {
    @apply select-none flex items-center justify-center;
    width: 68px;
}

.sbte-position-button-list {
    width: 210px;
    min-width: 210px;
}

/** Inline Style Button **/

.sbte-inline-style-btn {
    width: 44px;
}

/** Glossary Matches **/

.sbte-glossary-match {
    @apply bg-blue-primary/10 text-blue-light cursor-pointer shadow-sm border border-blue-light/20 shadow-blue-primary/40 px-1 rounded border border-gray-200;
}

/** Waveform **/

region.wavesurfer-region:before {
    content: attr(data-region-label);
    @apply overflow-hidden text-ellipsis whitespace-nowrap absolute text-center;
    width: 95%;
    margin-left: 10px;
    margin-top: 5px;
}

.wavesurfer-handle-end,
.wavesurfer-handle-start {
    @apply transition-colors bg-gray-400 hover:bg-gray-600 !important;
}

/** VideoJS **/

.video-js .vjs-time-control {
    @apply !block;
}

.vjs-texttrack-settings,
.video-js .vjs-remaining-time {
    @apply !hidden;
}

.vjs-text-track-display div {
    font-size: 1.25em;
}

/** Misc **/

.sbte-text-with-error {
    @apply bg-red-primary bg-opacity-20 text-gray-900/60;
}

.sbte-count-tag {
    @apply text-xs inline-block bg-gray-0 border border-gray-100 mr-0.5 rounded-lg py-0.5 px-1.5 mb-1 whitespace-nowrap;
}

/** Loading Icon **/

.sbte-spinner-icon {
    @apply w-16 h-16 border-b-transparent inline-block rounded-full;
    border: 5px solid;
    box-sizing: border-box;
    animation: sbte-rotation 1s linear infinite;
}

.sbte-subtitle-edit .sbte-spinner-icon {
    @apply border-x-blue-primary border-t-blue-primary border-b-transparent;
}

/** Animations **/

@keyframes sbte-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Waveform */
region.wavesurfer-region:before {
    content: attr(data-region-label);
    @apply text-gray-900/80
}
