$font-size-base: 0.875rem; // 14px
$fa-font-path: "../webfonts";

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

body {
  background-color: rgb(241, 244, 245);
}
