$sbte-main-text-color: rgb(118, 131, 143);
$background-color: rgb(241,244,245);

// ##############################
// Override bootstrap defaults
// ##############################
$font-size-base: 0.875rem; // 14px
$body-color: $sbte-main-text-color;
$input-color: $sbte-main-text-color;
$theme-colors: (
  "secondary": $sbte-main-text-color,
  "light": #dee2e6
);

@import "../node_modules/bootstrap/scss/bootstrap";

.btn-outline-secondary {
  border-color: $input-border-color;
}

.btn-light {
  color: $sbte-main-text-color;
}

// ##############################
// Subtitle Edit visuals
// ##############################
.sbte-subtitle-edit {
  font-family: Roboto, sans-serif;
}

.sbte-cue-editor {
  background-color: white;
  margin-bottom: 10px;
}

.sbte-left-border {
  border-left: 2px solid $background-color;
}

.sbte-bottom-border {
    border-bottom: 2px solid $background-color;
}

.sbte-medium-modal {
  max-width: 100%;
  width: 650px;
}

.sbte-time-editor {
    max-width: 160px;
}

.sbte-time-editor-input {
    width: 40px;
    border: 1px solid $input-border-color;
    padding: 5px;
}

.sbte-cue-line {
    background-color: white;
    margin-bottom: 5px;
}

// Toolbox
.sbte-form-control {
  color: $sbte-main-text-color;
  border-radius: 0;
}

.sbte-toolbox .card-header {
  color: white;
  background-color: $sbte-main-text-color;
}

.sbte-toolbox .card {
  border-radius: 0;
  border: 0;
}

