/* add css styles here (optional) */

.test {
  display: inline-block;
  margin: 2em auto;
  border: 2px solid #000;
  font-size: 2em;
}

.keyboard-modal {
   max-width: 100%;
   width: 650px;
}

.subtitle-specs-modal {
    max-width: 100%;
    width: 650px;
}
