$sbte-main-text-color: rgb(118, 131, 143);

//Override bootstrap defaults
$font-size-base: 0.875rem; // 14px
$body-color: $sbte-main-text-color;
$input-color: $sbte-main-text-color;

@import "../node_modules/bootstrap/scss/bootstrap";

.sbte-subtitle-edit {
  font-family: Roboto, sans-serif;
}

.sbte-keyboard-modal {
  max-width: 100%;
  width: 650px;
}
