$sbte-main-text-color: rgb(118, 131, 143);

// ##############################
// Override bootstrap defaults
// ##############################
$font-size-base: 0.875rem; // 14px
$body-color: $sbte-main-text-color;
$input-color: $sbte-main-text-color;
$theme-colors: (
  "secondary": $sbte-main-text-color,
  "light": #dee2e6
);

@import "../node_modules/bootstrap/scss/bootstrap";

.btn-outline-secondary {
  border-color: $input-border-color;
}

.form-control {
  color: $sbte-main-text-color;
  border-radius: 0;
}

.btn-light {
  color: $sbte-main-text-color;
}

.card-header {
  color: white;
  background-color: $sbte-main-text-color;
}


.card {
  border-radius: 0;
}

// ##############################
// Subtitle Edit visuals
// ##############################
.sbte-subtitle-edit {
  font-family: Roboto, sans-serif;
}

.sbte-cue-editor {
  background-color: white;
  margin-bottom: 10px;
}


.sbte-left-border {
  border-left: 1px solid $input-border-color;
}

.sbte-keyboard-modal {
  max-width: 100%;
  width: 650px;
}
