name: manucap CI/CD
run-name: ${{ github.actor }} manucap CI/CD

on:
    push:
        branches:
            - "*"
    pull_request:
        branches:
            - "*"

permissions:
    contents: read
    id-token: write

jobs:
    test-deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 24
                  cache: 'npm'
            - run: npm ci --force
            - run: npm run test
            - name: Upload coverage reports to Codecov
              uses: codecov/codecov-action@v3
              env:
                  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
            - run: npm run build
            - run: npm run lint
            - run: sudo apt-get install -y pcre2-utils
            - name: Post build checks
              run: ./scripts/post-build-js-checks.sh
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - run: npm publish
              if: github.ref == 'refs/heads/master'
